name: tests

on:
  push: { }
  pull_request: { }

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Install mise
        uses: jdx/mise-action@v3

      - name: Run build
        run: task build

      - name: Run lint
        run: task lint

      - name: Run tests
        run: task test
